:root {
  --theme-color: rgba(100,100,120,0.6);
  --main-text-color: rgba(230, 237, 240, 0.7);
  --theme-font: "Times New Roman", Times, serif;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.color-nav {
  background: var(--theme-color);
  font-family: var(--theme-font);
}

.main-text {
  margin: 5% auto;
  background: var(--main-text-color);
  font-size: calc(10px + 2vmin);
  font-family: var(--theme-font);
  border-radius: 5px;
  overflow-y:auto;
  height:80%;
  width:70%;
  scrollbar-color: var(--theme-color) rgba(0,0,0,0);
  scrollbar-width: thin;
}

.main-text::-webkit-scrollbar {
  width: 7.5px;
  border-radius: 5px;
}

.main-text::-webkit-scrollbar-track {
  background: rgba(0,0,0,0);
}

.main-text::-webkit-scrollbar-thumb {
  background: var(--theme-color);
  border-radius: 2.5px;

}

body, html {
height: 100%;
}

.bg {
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y:auto;
}

.description-overlay {
  background-position: center;
  background-color: #000000;
}

.registry-modal .modal-content {
  background-color: rgba(240,240,240,0.9);
  font-family: var(--theme-font);
  box-shadow: 2px 2px 4px black;
}

.contact-modal .modal-content {
  background-color: rgba(240,240,240,0.9);
  font-family: var(--theme-font);
  box-shadow: 2px 2px 4px black;
}

